/* body {
  background-color: rgb(43,52,75);
} */
.container-main {
  background-color: whitesmoke;
  height: 100vh;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.container-main .head {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1%;
  height: 5%;
  width: 98%;
}
.container-main .head img {
  width: 40px;
}
.container-main .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
  width: 98%;
  height: 95%;
  /* background-color: rgb(43,52,75); */
  border-radius: 30px;
}
.container-main .container-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70%;
  height: 40%;
  background-color: rgb(21,25,61);
  border-radius: 30px;
}
.account-tab {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  height: 40%;
  width: 45%;
  background-color: rgb(50,68,115);
  border-radius: 30px;
}
.login-tab {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.errmsg {
  color: tomato;
}
.register-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 98%;
  height: 50%;
  background-color: rgb(120,208,118);
  color: whitesmoke;
  border-radius: 15px 15px 30px 30px;
}
.account-tab a {
  margin: 0%;
}
.container-tab a {
  text-decoration: none;
  font-size: smaller;
  font-weight: 500;
  /* margin-bottom: 2%; */
  color: whitesmoke;
}
footer {
  padding: 2px;
}

/* registration form */

.form-container {
  width: 60%;
  /* text-align: center; */
}
.form-container .names {
  width: 37%;
}
.form-container input {
  width: 80%;
  margin: 2%;
  border-radius: 6px;
  border: 1px solid gray;
  padding: 5px;
}
/* .form-container button {
  margin: 2%;
  width: 30%;
  background-color: black;
  color: whitesmoke;
  border: none;
  padding: 5px;
  border-radius: 6px;
} */
.form-container button {
  margin: 0 6px;
}

/* Dashboard */

.dashboard-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 100%;
  text-align: center;
  /* background-color: blue; */
}
.search-bar {
  margin: 2px 0%;
}
.search-bar input {
  border-radius: 30px;
  border: 1px solid gray;
}
.search-bar input::placeholder {
  text-align: center;
}
.list-container {
  width: 100%;
  padding: 1px;
  /* background-color: gray; */
  height: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.list {
  width: 98%;
  height: 98%;
  background-color: rgba(209, 209, 209, 0.822);
  border-radius: 25px;
}
.card-min {
  max-width: 18rem;
}
.form-control:focus {
  box-shadow: none; /* Remove the default box shadow */
  border-color: #ced4da; /* Change the border color */
}
.add {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 1;
  transform: translate(-50%, 50%);
  background-color: rgb(43, 52, 75);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-icon {
  color: whitesmoke;
  font-size: 24px;
}
.add a {
  text-decoration: none;
}