/* body {
  background-color: rgb(43,52,75);
} */
.container {
  background-color: whitesmoke;
  height: 100vh;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.container .head {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1%;
  height: 5%;
  width: 98%;
}
.container .head img {
  width: 40px;
}
.container .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
  width: 98%;
  height: 95%;
  /* background-color: rgb(43,52,75); */
  border-radius: 30px;
}
.container .container-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70%;
  height: 40%;
  background-color: rgb(21,25,61);
  border-radius: 30px;
}
.account-tab {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  height: 40%;
  width: 45%;
  background-color: rgb(50,68,115);
  border-radius: 30px;
}
.login-tab {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.register-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 98%;
  height: 50%;
  background-color: rgb(120,208,118);
  color: whitesmoke;
  border-radius: 15px 15px 30px 30px;
}
.account-tab a {
  margin: 0%;
}
.container-tab a {
  text-decoration: none;
  font-size: smaller;
  font-weight: 500;
  /* margin-bottom: 2%; */
  color: whitesmoke;
}
footer {
  padding: 2px;
}

/* registration form */

.form-container {
  width: 60%;
  /* text-align: center; */
}
.form-container .names {
  width: 37%;
}
.form-container input {
  width: 80%;
  margin: 2%;
  border-radius: 6px;
  border: 1px solid gray;
  padding: 5px;
}
.form-container button {
  margin: 2%;
  width: 30%;
  background-color: black;
  color: whitesmoke;
  border: none;
  padding: 5px;
  border-radius: 6px;
}