/* body {
  background-color: rgb(43,52,75);
} */
.container-main {
  background-color: whitesmoke;
  height: 100vh;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.container-main .head {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1%;
  height: 5%;
  width: 98%;
}
.container-main .head img {
  width: 40px;
}
.container-main .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
  width: 98%;
  height: 95%;
  /* background-color: rgb(43,52,75); */
  border-radius: 30px;
}
.container-main .container-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70%;
  height: 40%;
  background-color: rgb(21,25,61);
  border-radius: 30px;
}
.account-tab {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  height: 40%;
  width: 45%;
  background-color: rgb(50,68,115);
  border-radius: 30px;
}
.login-tab {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.errmsg {
  color: tomato;
}
.register-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 98%;
  height: 50%;
  background-color: rgb(120,208,118);
  color: whitesmoke;
  border-radius: 15px 15px 30px 30px;
}
.account-tab a {
  margin: 0%;
}
.container-tab a {
  text-decoration: none;
  font-size: smaller;
  font-weight: 500;
  /* margin-bottom: 2%; */
  color: whitesmoke;
}
footer {
  padding: 2px;
}

/* registration form */

.form-container {
  width: 60%;
  /* text-align: center; */
}
.form-container .names {
  width: 37%;
}
.form-container input {
  width: 80%;
  margin: 2%;
  border-radius: 6px;
  border: 1px solid gray;
  padding: 5px;
}
/* .form-container button {
  margin: 2%;
  width: 30%;
  background-color: black;
  color: whitesmoke;
  border: none;
  padding: 5px;
  border-radius: 6px;
} */
.form-container button {
  margin: 0 6px;
}

/* Dashboard */

.dashboard-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 100%;
  text-align: center;
  /* background-color: rgb(21,25,61); */
}
.search-bar {
  margin: 2px 0%;
}
.search-bar input {
  border-radius: 30px;
  border: 1px solid gray;
  padding: 2%;
  font-size: medium;
}
.search-bar input::placeholder {
  text-align: center;
}
.list-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 95%;
  position: relative;
}
.list {
  display: flex;
  flex-wrap: wrap;
  /* margin: 1%; */
  width: 90%;
  height: 98%;
  border-radius: 10px;
  background-color: rgba(209, 209, 209, 0.822);
}
.list.custom-card {
  color: whitesmoke;
}
.custom-title {
  width: 100%;
  text-align: center;
  border: none;
  background-color: transparent;
  outline: none;
}
.custom-card-subtitle {
  width: 100%;
  text-align: center;
  border: none;
  background-color: transparent;
  outline: none;
}
.custom-card-text {
  width: 100%;
  text-align: center;
  border: none;
  background-color: transparent;
  outline: none;
}
.delete-card {
  z-index: 1;
  position: absolute;
  align-items: center;
  justify-content: center;
  display: flex;
  width: fit-content;
  height: fit-content;
  right: 0;
  top: 0;
  /* margin: 0 3px 0 0; */
  /* color: gray; */

}
.delete-card img:hover {
  width: 20px;
  height: auto;
  cursor: pointer;
  color: whitesmoke;
}
.add {
  position: absolute;
  font-weight: bolder;
  font-size: larger;
  bottom: 40px;
  right: 70px;
  z-index: 1;
  transform: translate(-50%, 30%);
  background-color: rgb(43, 52, 75);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add:hover {
  cursor: pointer;
}

.add-icon {
  color: whitesmoke;
  font-size: 24px;
  height: fit-content;
}
.add a {
  text-decoration: none;
}